In [35]:
import pandas as pd
import time

df = pd.read_csv('labeled_and_scored_comments.csv')

In [36]:
df.sort_values(['score'])

,id,comment_text,score,toxic,severe_toxic,obscene,threat,insult,identity_hate
1158,61a85266de70cca0,Можешь говорить по русски.,0.000004,0,0,0,0,0,0
5246,030a9ba0b32b4456,Rodzina Krusenstern Potomkowie Admirała Adama ...,0.000009,0,0,0,0,0,0
11040,a6814193ac6b4705,The opening paragraph states that the game is ...,0.000091,0,0,0,0,0,0
24192,f0d6dee96e057a5b,The book is used as a source in a number of ar...,0.000116,0,0,0,0,0,0
2332,cbb9268d3c7429c1,Vals Vienés \n |Rumba \n |Cha Cha Chá(ciclo 7),0.000131,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
19994,1429a2c930688317,you fucking piece of shit,0.997278,1,1,1,0,1,0
28728,d82e45eb103ad07b,fuck off you stupid aspy asshole,0.997736,1,1,1,0,1,0
25535,e9b92c6c6b01aeef,FUCK YOU YOU PIECE OF SHIT \n FUCK YOU YOU PIE...,0.997982,1,1,1,0,1,0
25945,e783fd267f3a9d3b,FUCK WIKIPEDIA ON WHEELS! \n\nFuck off wikiped...,0.998136,1,1,1,0,1,0
17833,364b6c24210e2345,Fuck you you fucking pig!\n\nYou motherfucking...,0.998329,1,0,1,0,1,0

Imports the relevant Pandas and Time (per Perspective API requirements) libraries, reads in the comment score dataset, and builds a dataframe using the data.

In [37]:
from googleapiclient.discovery import build
import json

def get_toxicity_score(comment):
    
  API_KEY = 'AIzaSyDB09QPQTyOAZ5MZwQm0oBcVK-DXwpnMZc' # Put your API key here
    
  client = build(
  "commentanalyzer",
  "v1alpha1",
  developerKey=API_KEY,
  discoveryServiceUrl="https://commentanalyzer.googleapis.com/$discovery/rest?version=v1alpha1")

  analyze_request = {
  'comment': { 'text': comment },
  'requestedAttributes': {'TOXICITY': {}}
  }
    
  response = client.comments().analyze(body=analyze_request).execute()
  toxicity_score = response["attributeScores"]["TOXICITY"]["summaryScore"]["value"]
    
  return toxicity_score

Main function for processing data via the Perspective API.

In [38]:
commonWords = df[df['score'] > 0.75]
commonWords.head()

,id,comment_text,score,toxic,severe_toxic,obscene,threat,insult,identity_hate
24,0013fed3aeae76b7,DJ Robinson is gay as hell! he sucks his dick ...,0.989706,1,0,1,0,1,1
27,0016b94c8b20ffa6,I WILL BURN YOU TO HELL IF YOU REVOKE MY TALK ...,0.902320,0,0,0,0,0,0
29,0017d4d47894af05,":Fuck off, you anti-semitic cunt. |",0.959459,1,0,1,0,1,0
38,001eff4007dbb65b,"::No, he is an arrogant, self serving, immatur...",0.956893,1,0,1,0,1,0
59,03c1c7a2649a7d87,":::Jeez Ed, you seem like a fucking shitty dou...",0.992469,1,0,1,0,1,0

Applies threshhold to data of toxicity scores above .75 to only select the most extreme comments.

In [39]:
#courtesy of MaxU on Stack Overflow https://stackoverflow.com/questions/40206249/count-of-most-popular-words-in-a-pandas-dataframe
from collections import Counter
import nltk
#nltk.download('stopwords')

top_N = 50

stopwords = nltk.corpus.stopwords.words('english')
# RegEx for stopwords
RE_stopwords = r'\b(?:{})\b'.format('|'.join(stopwords))
# replace '|'-->' ' and drop all stopwords
words = (commonWords.comment_text
           .str.lower()
           .replace([r'\|', RE_stopwords], [' ', ''], regex=True)
           .str.cat(sep=' ')
           .split()
)

# generate DF out of Counter
rslt = pd.DataFrame(Counter(words).most_common(top_N),
                    columns=['Word', 'Frequency']).set_index('Word')
print(rslt)

                     Frequency
Word
fuck                      3348
'                         2965
.                         1957
,                         1039
"                          847
fucking                    806
go                         795
!                          718
hate                       698
==                         696
like                       671
fucksex                    624
suck                       621
get                        566
know                       513
u                          509
stupid                     505
faggot                     481
bitch                      477
cock                       462
huge                       429
?                          428
nigger                     424
dog                        371
sucks                      364
wikipedia                  364
want                       364
shit                       361
people                     345
moron                      340
dickhead                   336
!!                         334
one                        309
ass                        302
page                       297
stop                       284
love                       284
oxymoron                   284
gay                        271
-                          258
think                      252
would                      246
please                     242
article                    228
tell                       227
even                       223
sucks!!!!!!!!!!!u..        223
keep                       222
pussy                      220
guys                       217

Data parsing to find out the most common words used in comments where toxicity or abuse was present in a high threshhold (scores greater than 0.75).

In [40]:
random_sample = pd.read_csv('translation_test.csv')

In [41]:
random_sample.head()

,comment_text,translated_text
0,vandels are makin your vag extra wide. please ...,Los Vandels son makin tu vag extra ancho. Por ...
1,::are you stupid all pigments have the ability...,"::Eres estupido, todos los pigmentos tienen la..."
2,"""Vandalism ==\n\nThis page is being vandalized...","""Vandalismo == Esta pagina esta siendo vandali..."
3,"if you do not stop, the wikapidea nijas will c...","Si no te detienes, los Wikapidea Nijas vendran..."
4,YOU NASTY A Bear is Satanic Creature that is a...,ERES DESAGRADABLE Un oso es una criatura satan...

Reads in the translation comment score test dataset, and builds a dataframe using the data.

In [42]:
score_list = []
translated_score_list = []

for comment in random_sample['comment_text']:
    score = get_toxicity_score(comment)
    score_list.append(score)
    time.sleep(1)
    
for comment in random_sample['translated_text']:
    score = get_toxicity_score(comment)
    translated_score_list.append(score)
    time.sleep(1)

In [43]:
comment_df = pd.DataFrame({'comment': random_sample['comment_text'], 'score': score_list})
translation_df = pd.DataFrame({'translation': random_sample['translated_text'], 'score': translated_score_list})

Creates new dataframes to store the scores of the random sample and the translations of the comments from the sample respectively.

In [44]:
comment_df.describe()

           score
count  10.000000
mean    0.719543
std     0.178588
min     0.436228
25%     0.635639
50%     0.724506
75%     0.876879
max     0.939031

Descriptive statistics of the original un-translated comments and the scores pertaining to them.

In [45]:
translation_df.describe()

           score
count  10.000000
mean    0.585916
std     0.189110
min     0.312707
25%     0.529027
50%     0.583235
75%     0.600103
max     0.916254

Descriptive statistics of the original translated comments and the scores pertaining to them.